* {
    font-family: Roboto;
    margin: 0;
}


.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 44px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.titlepageimg {
    width: 72px;
    height: auto;
}


.header {
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
}

.headerimg {
    width: 280px;
    height: auto;
    padding: 20px;
    padding-right: 100px;
}

.uhthinkofsomething {
    margin: auto;
}
.headerreal {
    font-size: 24px;
    color: #F9FAF8;
}
.headergamingreal {
    font-size: 18px;
    color:#E5E7EB;
}

.signupfirst {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: #3882F6;
    color: white;
    border: 0;
    border-radius: 4px;
    scale: 1.1;
}

.middle {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 300px;
    height: 300px;
    gap: 100px;
    padding-left: 200px;
    align-items: center;
    justify-content: center;

}

/*
.pmg1 {
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding:3px; 
    margin:5px

}
.pmg2{
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding:3px; 
    margin:5px
}
.pmg3{
    display: flex;
    flex-shrink: 4;
    width: 95px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding-right: 60px;
    margin:5px;
    
}
.pmg4{
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding:3px; 
    margin:5px
}*/
.pmg {
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding:3px; 
    margin:5px
    
}