* {
    font-family: Roboto;
    margin: 0;
}


.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 44px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.titlepageimg {
    width: 72px;
    height: auto;
}


.header {
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
}

.headerimg {
    width: 280px;
    height: auto;
    padding: 20px;
    padding-right: 100px;
}

.uhthinkofsomething {
    margin: auto;
}
.headerreal {
    font-size: 48px;
    color: #F9FAF8;
}
.headergamingreal {
    font-size: 18px;
    color:#E5E7EB;
}

.signupfirst {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: #3882F6;
    color: white;
    border: 0;
    border-radius: 4px;
    scale: 1.1;
}


.middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    width: 1000px;
    height: 320px;
    gap: 81px;
    padding-left: 200px;
    padding-bottom: 300px;
    align-items: center;

}
.midheader {
    text-align: center;
    position: absolute;
    padding-bottom: 250px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}


figure {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding:3px; 
    margin:5px
    }

    .fanc,
    .dragon {
        scale: 2;
    }
    .childfigure {
        scale: 1.15;
    }

    .coding {
        position: absolute;
        padding-top: 135px;
        padding-left: 35px;
    }
    figcaption {
        padding-top:  80px; ;
        margin: -50px;
    }
    .cool {
        position: absolute;
        padding-bottom: 40px;
        padding-left: 45px;
        padding-top:  180px;
    }
    .fancy {
        padding-left: 43px;
    }
    .drag {
        padding-left: 37px;
    }


.quote {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 400px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 16px;
}

.calltoaction {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: start;
    justify-content: space-between;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 4px;
    width: 800px;
    height: 100px;
    margin: 200px;
    margin-left: 300px;
    padding: 16px;
    padding-right: 30px;
}
.strong {
    font-size: 20px;
}
.signuptwoelectricboogaloo {
    text-align: center;
    font-size: 16px;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    width: 80px;
    height: 20px;
    cursor: pointer;
}

.bottom {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    width: auto;
}